.image img {
    background-color: brown;
    height: 225px;
    width: 100%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

body {
    background-color: rgb(200, 112, 54);
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h6 {
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 35px;
}

.container {
    background-color: rgba(166, 149, 136, 0.796);
}

menu {
    background-color: rgba(151, 82, 36, 0.796);
}

strong {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

span {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.background-image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}